<div class="d-flex justify-content-center">
    <p>Tecnologia que ultilizo atualmente</p>
</div>
<div class="habilidade">
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia  img-fluid" width="200" height="200"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt='ts'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card"> 
            <img class="card-tecnologia  rounded img-fluid " width="200" height="200"
                src='.../../../../assets/imgs/php.png' alt='PHP'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid " width="200" height="200"
                src='.../../../../assets/imgs/Bootstrap.png' alt='Bootstrap'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='.../../../../assets/imgs/mysql.png' alt='mysql'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia  img-fluid" width="200" height="200"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt='angular'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia  img-fluid" width="200" height="200"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" alt='postgresql'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded  img-fluid" width="200" height="200"
                src='.../../../../assets/imgs/react.png' alt='react'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='.../../../../assets/imgs/js.png' alt='JS'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='.../../../../assets/imgs/node.png' alt='Nodejs'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='.../../../../assets/imgs/vue.png' alt='vue'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='.../../../../assets/imgs/css.png' alt='css'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='.../../../../assets/imgs/html.png' alt='html'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg' alt='sass'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg' alt='git'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="200" height="200"
                src='https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original-wordmark.svg' alt='heroku'>
        </li>
    </ul>
</div>