
 .contener{
    display: flex;
   
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin-top: 5px;
    margin-left: 33%;
    background-color: #ffff;
   
}
.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}
.button2{
    margin-top: 10px;

}
 

 /* .form{
     display: flex;
     justify-content: center;
     margin-top: 30px;
     border-bottom: 200px 0px 200px 0px;
     border-top: 20px;
     background-color: #ffff;
 } */
