<div class="container ">
  <div class="row">
    <div class="title col-4 p-3 infor">
      <i class="material-icons">dashboard</i>
      Dashboard
      <p class="sub-title">Portifolio-CRUD</p>
      <p>Faça você também<br> o cadastro.</p>
      <button type="button" [routerLink]="['/cadastra']" class="btn btn-info">
        Saiba mais
      </button>
    </div>
    <div class="col-8 p-5">
      <div class="row">
        <div class="progress-bar m-3 ">
          <span class="number">
            <p>32%<br>
              usuário</p>
          </span>
          <svg helght="150" width="150" class="circle">
            <circle cx="75" cy="75" r="65" stroke="#fff" stroke-width="20" fill="none" />
          </svg>
        </div>
        <div class="progress-bar m-3">
          <span class="number">
            <p>5% <br>ADM</p>
          </span>
          <svg helght="150" width="150" class="circle">
            <circle cx="75" cy="75" r="65" stroke="rgb(233, 135, 100)" stroke-width="20" fill="none" />
          </svg>
        </div>
        <div class="progress-bar m-3">
          <span class="number">

            <p>22%<br>produtos</p>
          </span>
          <svg helght="150" width="150" class="circle">
            <circle cx="75" cy="75" r="65" stroke="rgb(225, 63, 79)" stroke-width="20" fill="none" />
          </svg>
        </div>
      </div>
    </div>
  </div>

</div>