.container-fluid {
  height: 400px;
  background-image: linear-gradient(to right, #120537, #003a71, #006fa6, #00a8cf, #12e2eb);

}

.title {
  margin-top: 25px;
  padding-left: 10px;
  color: #fff;
  font-size: 27px;
}

.title i {
  padding-right: 5px;
  color: #fff;
}

.sub-title {
  margin-left: 35px;
  font-size: 15px;
}

.info {
  margin-top: 20px;
  width: 300px;
  height: 200px;
  padding-left: 60px;
  font-size: 1.3rem;
  color: #fff;
}

.btn {
  margin-top: 20px;
}

.progress-bar {
  margin-top: 100px;
  margin-left: 70px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 1px solid rgba(209, 197, 252, 0.5);
  outline-offset: -1px;
}

.progress-bar::after,
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  color: #fff;
}

.circle {
  stroke-dasharray: 410;
  stroke-dashoffset: 410;
  transform: rotate(-90deg);
  animation: bar-fill 8s linear forwards;
}

 @keyframes bar-fill {
  100% {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 1100px) {
  .title {
    margin-top: 25px;
    padding-left: 10px;
    color: #fff;
    font-size: 27px;
  }

  .title i {
    padding-right: 5px;
    color: #fff;
  }

  .sub-title {
    margin-left: 35px;
    font-size: 15px;
  }

  .infor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    padding-left: 60px;
    font-size: 1.3rem;
    color: #fff;
  }
  .btn {
    margin-top: 20px;
  }
}
@media (max-width: 900px) {
  .progress-bar {
    display: none;
  }
}
 