<div class="Dashboard">
    <div class="title">
        <a>
            <i class="material-icons">dashboard</i>
            Dashboard
            <p class="sub-title">portifolio-CRUD</p>
        </a>
        <div class="infor">
            <p>Faça você também o cadastro.<br>Pessoas que si cadastro e logo no meu sistema</p>
            <button type="button" [routerLink]="['/login']" class="btn btn-info">Saiba mais</button>
        </div>
    </div>
    <div class="progress-bar">
        <span class="number">
            <p>32%</p>
            <p>usuario</p>
        </span>
        <svg helght="150" width="150" class="circle">
            <circle cx="75" cy="75" r="65" stroke="#fff" stroke-width="20" fill="none" />
        </svg>
    </div>
    <div class="progress-bar">
        <span class="number">
            <p>32%</p>
            <p>ADM</p>
        </span>
        <svg helght="150" width="150" class="circle">
            <circle cx="75" cy="75" r="65" stroke="rgb(233, 135, 100)" stroke-width="20" fill="none" />
        </svg>
    </div>
    <div class="progress-bar">
        <span class="number">
            <p>32%</p>
            <p>produtos</p>
        </span>
        <svg helght="150" width="150" class="circle">
            <circle cx="75" cy="75" r="65" stroke="rgb(225, 63, 79)" stroke-width="20" fill="none" />
        </svg>
    </div>
</div>