<div class="d-flex justify-content-center">
    <p>Tecnologia que ultilizo atualmente</p>
</div>
<div class="habilidade">
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia  rounded img-fluid " width="400" height="400"
                src='.../../../../assets/imgs/php.png' alt='PHP'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid " width="400" height="400"
                src='.../../../../assets/imgs/Bootstrap.png' alt='Bootstrap'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="400" height="400"
                src='.../../../../assets/imgs/mysql.png' alt='mysql'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="400" height="400"
                src='.../../../../assets/imgs/angular.png' alt='angular'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded  img-fluid" width="400" height="400"
                src='.../../../../assets/imgs/react.png' alt='react'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="400" height="400"
                src='.../../../../assets/imgs/js.png' alt='JS'>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li class="card">
            <img class="card-tecnologia rounded img-fluid" width="400" height="400"
                src='.../../../../assets/imgs/node.png' alt='Nodejs'>
        </li>
    </ul>
</div>