<div class="contener">
    <form class="form">
        <h4>Atualizar Produto</h4>
        <mat-form-field>
            <input matInput placeholder="nome" [(ngModel)]="produto.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valor" [(ngModel)]="produto.price" name="price">
        </mat-form-field>
    </form>
    <button class="button1" mat-raised-button color="primary" (click)="remover()">
        Deletar
    </button>
    <button class="button2" mat-raised-button color="primary" (click)="cancel()">
        Canselar
    </button>
</div>