.navbar {
    background-image: linear-gradient(to right top, #ac3999, #882d83, #67216d, #471556, #2b093e);
    height: 80px;
    box-sizing: content-box;
}

.navbar-brand {
    display: inline-block;
    height: 90px;
    padding: 15px;

}

img {
    height: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    color: #ffff;
}

a {
    color: #ffff;
    font-size: 1.2rem;
}