<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>produto</th>
      <th>valor</th>
      <th>ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos.produtos">
      <td>{{ produto.id }}</td>
      <td>{{ produto.name }}</td>
      <td>{{ produto.price | currency: "BRL":"symbol" }}</td>
      <td>
        <span class="float-right">
          <button type="button" class="btn btn-outline-warning mb-1 btn-sm m-1" (click)="onedit(produto.id)">
            Atualizar
          </button>
          <button type="button" class="btn btn-outline-danger mb-1 btn-sm m-1" (click)="oneremove(produto.id)">
            Remover
          </button>
        </span>
        <span class="icons">
          <a (click)="onedit(produto.id)">
            <i class="fa fa-edit"></i>
          </a>
          <a (click)="oneremove(produto.id)">
            <i class="fa fa-trash"></i>
          </a>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" (click)="voltar()">Voltar</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="voltar()">1</a>
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" (click)="avancar()">2</a>
    </li>

    <li class="page-item">
      <a class="page-link" (click)="avancar()">
        Avançar
      </a>
    </li>
  </ul>
</nav>

<!-- <pre>
  {{ produtos | json }}
</pre> -->