<!-- FOOTER SECTION START -->
<section id="fn-footer" class="fn-footer">
  <div class="container">
    <div class="row">
      <!-- FOOTER WIDGET 1 -->
      <div class="col-sm-3 col-lg-3">
        <div class="widget">
          <h4>valparaiso||</h4>
          <address>
            Q.21 8-33,
            <br><br>
          </address>
          <p>
            <i class="icon-phone"></i> 61 9.91631462<br>
            <i class="icon-envelope-alt"></i> euquiasa@gmail.com
          </p>
        </div>
      </div>
      <!-- FOOTER WIDGET 2 -->
      <div class="col-sm-3 col-lg-3">
        <div class="widget">
          <h4>Pages</h4>
          <ul class="link-list">
            <li><a href="#sobre">Sobre nós</a></li>
            <li><a href="#contato">Contate-Nos</a></li>
          </ul>
        </div>
      </div>
      <!-- FOOTER WIDGET 3 -->
      <div class="col-sm-3 col-lg-3">
        <div class="widget">
          <h4>Links</h4>
          <ul class="link-list">
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
      <!-- FOOTER WIDGET 4 -->
      <div class="col-sm-3 col-lg-3">
        <div class="widget">
          <h4></h4>
          <p>A Mais 3 anos desenvolvendo progetos em TI .</p>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER BOTTOM -->
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="copyright">
            <p>
              <span>&copy; euquias </span><a href="https://github.com/euquias/portfolio" target="_blank">Serviços de
                tecnologia</a>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="social-network">
            <li><a href="https://api.instagram.com/euquiasaraujo85" data-placement="top" title="instagram"><i
                  class="fa fa-instagram"></i></a>
            </li>
            <li><a href="https://api.whatsapp.com/send?phone=5561991631462" data-placement="top" title="whatsapp"><i
                  class="fa fa-whatsapp"></i></a></li>
            <li><a href="https://www.linkedin.com/in/euquias-araujo-326271219" data-placement="top" title="Linkedin"><i
                  class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://github.com/euquias" data-placement="top" title="Linkedin"><i
                    class="fa fa-github"></i></a></li>      
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
