<div class="container mx-auto">
  <div class="title">
    <h3>Login</h3>
  </div>
  <div class="subtitle">
    <h5>Faça Seu Logim ou Registre.</h5>
  </div>
  <main class="form-signin">
    <form [formGroup]="loginform">
      <div class="form-floating d-grid gap-2 col-11 mx-auto">
        <input type="text" class="form-control" id="floatingInput" formControlName="email"
          placeholder="name@example.com">
        <label for="floatingInput">Digite seu Email</label>
      </div>
      <div class="form-floating d-grid gap-2 col-11 mx-auto">
        <input type="password" class="form-control" id="floatingPassword" formControlName="password"
          placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="butoens">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" (click)="logar()" type="button">Logim</button>
          <button class="btn btn-primary" (click)="cadastra()" type="button">Primeiro Acesso</button>
        </div>
      </div>
    </form>
  </main>
</div> 