.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-top: 100px; 
    background-image: linear-gradient(to right, #120537, #003a71, #006fa6, #00a8cf, #12e2eb);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    color: #ffff;
}

h3 {
    font-size: 3.1rem;
    color: #ffff;
}

form {
    display: block;
    justify-content: center;
    margin-top: 15px;
}

.form-floating {
    margin-top: 5px;
}

.butoens {
    margin-top: 35px;
}

@media (max-width: 900px) {

    .container {
        margin: 0%;
        width: 100%;
        height: 100%;
        background-color: #00b7ff;
    }
    .butoens {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

}