<div class=" d-flex justify-content-center col-sm">
    <div class="card border-0 ">
        <h5 class="card-title">CITAÇÃO</h5>
        <p class="card-text">Existem duas maneiras de construir um projeto de software. Uma é fazê-lo tão simples
            que
            obviamente não
            há falhas. A outra é fazê-lo tão complicado que não existem falhas óbvias.</p>
    </div>
    <div class="text-center border-0">
        <img class="img-fluid  rounded-circle" width="1000" src='.../../../../assets/imgs/perfil.png' alt='Euquias'>
    </div>
    <div class="card border-0 d-flex justify-content-evenly m-2">
        <p class="card-text">
            <strong>Ola</strong><br>
            Sou Euquias Araujo, desenvolvedor de software entusiasta em frontend. atuo na aria
            mais de
            3
            anos de
            experiência em mídias interativas. Possuo experiência. Adoro desafios e acredito na
            transformação do mundo
            com o poder da informação.</p>

    </div>
</div> 