h4{
    margin-top: 40px;
}
.container-fluid{
    background-image: linear-gradient(to right, #120537, #003a71, #006fa6, #00a8cf, #12e2eb);
} 
a{
    display: flex;
    align-items: center;
}
span{
    color: #fff;
    margin:5px;
}
i{
    color: #fff;
}
ul{
display: flex;
align-items: center;
}
.nav-link:hover{
    border-radius: 10px;
    background-color: #003a71;
  }