<div class="container">
  <main class="form-signin">
    <form [formGroup]="loginform">
      <h1 class="h3 mb-3 fw-normal">Cadastro</h1>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" formControlName="name" placeholder="name">
        <label for="floatingInput">
          Digite seu nome </label> 
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" formControlName="email"
          placeholder="name@example.com">
        <label for="floatingInput">Digite seu Email</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" formControlName="password"
          placeholder="Password">
        <label for="floatingPassword">Digite sua senha</label>
      </div>
      <div class="form-floating">
        <input type="Password" class="form-control" id="floatingPassword" formControlName="confirmPassword"
          placeholder="confirmPassword">
        <label for="floatingPassword">Confieme sua senha</label>
      </div>

      <div class="d-grid gap-2 col-8 mx-auto p-3">
        <button class="btn btn-primary" (click)="cadastra()" type="button">Cadastra</button>
        <button class="btn btn-primary" (click)="login()" type="button">Tenho Cadastro</button>
      </div>
    </form>
  </main>
</div>