.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
   
  }
  
  .texto {
    font-size: 4.2rem;
    color: black;
  }
  
   .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    
  } 