<div class="Dashboard">
    <div class="infor m-5 ">
        <div class="card-icon">
            <i class="material-icons">
                person
            </i>
        </div>
        <div class="usuario">
            <span class="title">usuarios</span>
            <span class="values">25</span>
        </div>
    </div>
    <div class="infor m-5">
        <div class="card-icon">
            <i class="material-icons"> 
                <span class="material-symbols-outlined">
                    file_open
                    </span>
            </i>
        </div>
        <div class="usuario">
            <span class="title">produtos</span>
            <span class="values">25</span>
        </div>
    </div>


    <!-- <div class="card-infor">
           <p>pessoas que fizero reviw <br> no meu sistema</p>
           <button type="button" class="btn btn-info">Saiba mais</button>
   
       </div> -->
</div>