<div class="Dashboard">
    <!-- <div class="infor m-5 ">
        <div class="card-icon">
            <i class="material-icons">
                person
            </i>
        </div>
        <div class="usuario">
            <span class="title">usuarios</span>
            <span class="values">25</span>
        </div>
    </div>
    <div class="infor m-5">
        <div class="card-icon">
            <i class="material-icons"> 
                <span class="material-symbols-outlined">
                    file_open
                    </span>
            </i>
        </div>
        <div class="usuario">
            <span class="title">produtos</span>
            <span class="values">25</span>
        </div>
    </div> -->


    <!-- <div class="card-infor">
           <p>pessoas que fizero reviw <br> no meu sistema</p>
           <button type="button" class="btn btn-info">Saiba mais</button>
   
       </div> -->

    <div class="progress-bar">
        <span class="number" data-value="100"></span>
        <svg helght="150" width="150" class="circle">
            <circle cx="75" cy="75" r="65" stroke="#d1c5fc" stroke-width="20" fill="none" />
        </svg>
    </div>



</div>