.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-top: 20px;
    background-color: #00b7ff;
    /* box-shadow: 2px 2px 2px 1px #fff(0, 0, 0, 0.5); */
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    color: #ffff;
}

h3 {
    font-size: 3.1rem;
    color: #ffff;
}

form {
    display: block;
    justify-content: center;
    margin-top: 15px;
}

.form-floating {
    margin-top: 5px;
}

.butoens {
    margin-top: 35px;
}

@media screen and (max-width: 900px) {
   
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 380px;
        height: 400px;
        margin-top: 0; 
        
    }
    .butoens {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

}