
 <body class="body">
        <!-- citação -->
     <div id="sobre" class="perfil p-3">
        <app-perfil></app-perfil>
    </div> 
    <!--end citação -->
    <!-- tecnologia de conhecimento -->
     <div id="habilidades" class="habilidade p-3">
        <app-habilidades></app-habilidades>
    </div> 
    <!-- end tecnologia de conhecimento -->   
     <div id="dashboard" class="dashboard p-3">
        <app-dashboard></app-dashboard>
    </div> 
     <div id="contato" class="contato">
        <app-contato></app-contato>
    </div> 
 </body>
